/* CartItem.css */

/* Style for the cart item container */
.cart-item-container {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style for the item image */
.cart-item img {
    max-width: 75px; /* Adjust the max-width of the item images */
    max-height: 75px; /* Adjust the max-height of the item images */
    object-fit: cover;
}

/* Style for the item details (name, quantity, price) */
.item-details {
    flex-grow: 1;
    margin-left: 10px;
}

/* Style for the quantity text */
.quantity-text {
    font-size: 0.75rem;
    color: #888;
}

/* Style for the total price */
.total-price {
    font-weight: bold;
}

/* Style for the remove button */
.remove-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-button:hover {
    background-color: #cc0000; /* Change color on hover */
}

/* Style for the Close Cart button */
.close-cart-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.875rem;
    cursor: pointer;
}

.close-cart-button:hover {
    background-color: #0056b3; /* Change color on hover */
}
