.each-slide-effect > div {
    display: flex;
    object-fit: cover;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 500px;
    background-position: 50% 50%;
    background-color: black;
}
  



